In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("DigitalAd_dataset.csv")

In [3]:
data

     Age  Salary  Status
0     18   82000       0
1     29   80000       0
2     47   25000       1
3     45   26000       1
4     46   28000       1
..   ...     ...     ...
395   35   65000       0
396   26   80000       0
397   26   52000       0
398   20   86000       0
399   32   18000       0

[400 rows x 3 columns]